<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h1>Editing Family</h1>
            </div>
            <div class="ibox-content">
                <%= render 'form', family: @family %>

                <hr>
                <div class="btn">
                    <%= link_to families_path, class: 'btn btn-sm btn-outline dim btn-primary' do %>
                        <i class="fa fa-chevron-left"></i> Back
                    <% end %>
                    <%= link_to @family, class: 'btn btn-sm btn-outline dim btn-primary' do %>
                        <i class="fa fa-search"></i> Show
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>